main{
    padding:5px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  h4{
    text-align: center;
  }
  img{
    width:50%;
    max-width:350px;
  }
  @media (min-width:481px) {
    
  }