header {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
  header div.header {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  header div.header img {
    width: 60px;
    height: 60px;
  }
  header div.header div.search {
    gap: 1px;
    font-size: 14px;
    align-items: center;
  }
  header div.header div.search input {
    width: 90%;
    background-color: beige;
  }
  
  header div.header div.prueba {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  header div.header div.prueba2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  header div.header div.prueba div.register_login {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  header div.header div.prueba div.register_login button {
    font-size: 15px;
    border: 1px solid;
    border-radius: 5px;
    background-color: beige;
  }