main.home{
  display: flex;
  justify-content:center;
  flex-direction: column;
}
main video {
  width: 250px;
  height: 200px;
  margin-left: 15px;
  display: flex;
  justify-content: center;

}







