main {
  display: flex;
  justify-content: center;
  
}

main.register form.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
gap: 5px;
background-color: snow;
  align-items: center;
  position: relative;
  border: 1px solid var(--azulito);
}


main form.login{
  width: 90%;
  padding: 15px;
  margin-top: 15px;
  position: relative;
  border: 1px solid rgb(255, 141, 2);
  border-radius: 15px;
  box-shadow: 10px 15px 25px gray;
}
main.register form.register{
  width: 90%;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid rgb(255, 141, 2);
  
  border-radius: 15px;
  box-shadow: 10px 15px 25px gray;
  
}
main form input{
  border: 1px solid var(--azulito) !important;
}

main form.login {
  display: flex;
  gap: 15px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ;
  flex-direction: column;
  justify-content: center;
}
main.register form h1,
main form.login {
  font-size: 15px;
}
main.register form button {
  background-color: var(--azulito);
}
main.register form.register div.register div.genero{
  display: flex;
}
main.register form.register div.register div.genero {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
main.register form.register div.register div.genero div.imput-label{
  display: flex;
}


main.register form div.register,
main.register form div.avatar,
main.register form div.date {
  width: 59%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
main.register form div.recordarme,
main form.login {
  display: flex;
  flex-direction: column;
  
  
}
@media (min-width: 768px) {
  main.register form,
  main form.login {
    width: 100%;
  }
}
