main {
  display: flex;
  justify-content: center;
}

main.register form,
main form.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  gap: 5px;
  align-items: center;
}
main form.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main.register form h1,
main form.login {
  font-size: 15px;
}
main.register form button {
  background-color: bisque;
}
main.register form div.register,
main.register form div.avatar,
main.register form div.date,
main form.login {
  width: 59%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
main.register form div.recordarme,
main form.login {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  main.register form,
  main form.login {
    width: 100%;
  }
}
