 @import url("home.css");
 @import url("footer.css");
 @import url("header.css");
 @import url("register.css");
 @import url("login.css");
 @import url("adopta.css");
 @import url("entrada.css");
 @import url("tarjeta.css");
 body {
    min-height: 100vh       ;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  p {
    text-align: center;
    padding-left:5px;
    padding-right: 5px;
  }
  p.error {
    text-align: center;
   color: red;
   font-size: 14px;
  }
 main a{
  color:black
 }
  a i{
    color: rgb(255, 141, 2);
    border-radius: 50%;
  padding: 5px;
border:1px solid rgb(255, 141, 2);
}



main button{
  border-radius: 15px;
  background-color: bisque;
  border: 1px solid rgba(255, 141, 3, 0.918);

}