

 section.tarjeta{
    display:none;
}
@media (min-width:768px) {
    main div.iconos {
        font-size: 16px;
        justify-content: space-evenly;
        width: 100%;
        gap: 10px;
        display: flex;
        text-align: center;
      }
      main div.iconos button {
        display: flex;
        height: 60px;
        justify-content: space-between;
      }
    section.tarjeta {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        gap: 25px;
        flex-wrap: wrap;
    }
    section.tarjeta article{
       display: flex;
       width:220px;
       margin: 5px;
       padding: 10px;
       align-items: center;
   }
   section.tarjeta article img{
    width: 200px;
    height: 200px;    
   }
    

}
