<!doctype html>
<html lang="es">
<%- include("partials/head") %>

<body>
  <%- include("partials/header") %>
  <main class="home">
    <p class="titulo">
      Hola, esta soy yo Hoy:
    </p>
    <video width="90%" height="50%" src="video/ylachaAct.mp4" controls autoplay="" loop=""></video>
    <p> pero para esto falto mucho trabajo,acompañame y ve mi historia</p>
    <a href="/entrada"></a>
  </main>
  <%- include("partials/footer") %>
</body>
</html>