<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head") %><!DOCTYPE html>

  <body>
    <%- include("partials/header") %>
    <main>
      <form class="login" action="/login" method="POST">
        <label for="email"> ingresa tu email</label>
        <input type="email" name="email" id="email"/>

        <label for="password">ingresa tu contraseña</label>
        <input type="password" name="password" id="password"/>
        <div class="Recordarme"><input type="checkbox" name="remember" value="true" />
        <label for="remember">Recordarme</label><br /></div>

        <button type="submit" value="Enviar" >iniciar sesión</button>
      </form>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
