<div class="carousel">
  
  <div class="carousel-slide">
    <% animales.forEach((animal, i) => { %>
    <div class="carousel-item %>">
      <div class="article">
        <article>
          <img src="/img/<%= animal.image %>" alt="First slide" />
          <div class="datos">
            <h5 class="importante"><%= animal.name %></h5>
            <p>
              Soy <%= animal.sexo =="hembra"?"una "+ animal.type:"un " +
              animal.type %>
            </p>
            <p>Mi refugio: <%= animal.refugio%></p>
          </div>
          <div class="iconos">
            <button>
              <a href="/detalleMascota"
                ><i class="fa-solid fa-heart"></i> Conoce sobre mi</a
              >
            </button>
            <button>
              <a href="dona"
                ><i class="fa-solid fa-dollar-sign"></i> Ayudarme</a
              >
            </button>
          </div>
        </article>
      </div>
    </div>
    <% }) %>
  </div>
<div class="button-container"><button id="prevBtn" class="carousel-button" onclick="changeSlide(-1)">
  <i class="fa-solid fa-chevron-left"></i>
  </button><button id="nextBtn" class="carousel-button" onclick="changeSlide(1)">
    <i class="fa-solid fa-chevron-right"></i> </button></div>
  
  <script src="/js/carousel.js"></script>
</div>
