<footer>
  <div class="lista">
    <ul class="menu">
      <li>
        <a href="/adopta">
          Adoptame <i class="fa-solid fa-paw"></i>
        </a>
      </li>
      <li>
        <a href="/dona">
          dona a un refugio<i class="fa-solid fa-circle-dollar-to-slot"></i
        ></a>
      </li>
      <li>
        <a href="/entrada"
          >Subí tu Momento Ylacha <i class="fa-solid fa-photo-film"></i
        ></a>
      </li>
      <li>
        <a href="/nuestraYlacha">
          nuestra Ylacha <i class="fa-sharp fa-solid fa-dog"></i>
        </a>
      </li>
    </ul>
    <h1>Todos los derechos reservados</h1>
  </div>
</footer>
