<footer>
  <div class="lista">
    <ul class="menu">
      
      <li>
       <a href="/dona">
         <i class="fa-solid fa-circle-dollar-to-slot"></i
        >Ayudar a un refugio</a>
      </li>
      <li>
        <a href="/entrada"
          ><i class="fa-solid fa-photo-film"></i
        >Subí tu Momento Ylacha </a>
      </li>
      <li>
        <a href="/nuestraYlacha"><i class="fa-sharp fa-solid fa-dog"></i>Nuestra Ylacha 
        </a>
      </li>
      <li>
        <a href="/contacto">
         <i class="fa-solid fa-address-book"></i>¿Dudas? contactanos
          
        </a>
      <li>
        <a href="/contacto"><i class="fa-solid fa-people-roof"></i>
         Sobre nosotros
          
        </a>
      </li>
    </ul>
    <h1>Ylacha 2023 <i class="fa-solid fa-copyright"></i></h1>
  </div>
</footer>
