<header>
  <div class="header">
    <div class="prueba"> <a href="/"><img src="img/logo.png"></a>
    
     <div class="prueba2"> <div class="search">
          <input type=text placeholder="buscar por..."> 
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
         <div class=" register_login">
        <a href="/register"><button> registrate</button></a>
        <a href="/login"><button> inicia sesión</button></a>
        </div>
      </div> 
    </div>
  </div>

</header>